@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: rgba(255, 255, 255, 0.74);
    width: 900px;
    padding: 10px;
    box-shadow: 5px 5px 15px #0318d8;
    margin: auto;
    border-radius: 10px;
}

p {
    font-size: 30px;
}

.entrada ul {
    list-style: none;
    padding: 0;
    font-size: 30px;
    border: 2px #0318d8;
}

.nome, .matricula, .cpf, .email, .nivel {
    font-size: 20px;
}

.salvar, .voltar, .camera, .excluir {
    color: white;
    font-size: 30px;
    background-color: #048ABF;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    padding: 0 20px;
    cursor: pointer;
    margin: 10px 0;
}